@import "src/variables";

.Message {
  height: 100vh;
  overflow-y: scroll;
  background-color: $secondary;

  &Container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $topNavHeight 75px 0;
    margin-left: $sideBarWidth;
  }

  &Title {
    font-size: 36px;
  }

  & p {
    margin: 20px 0 50px;
  }

  & a {
    font-size: 18px;
  }
}