$primary: #43425D;
$primaryDark: #3C3B54;
$primaryBright: #A3A0FB;

$secondary: #F0F0F7;
$secondaryDark: #BCBCCB;

$textColor: #4D4F5C;
$textRed: #FF5F5F;

$transitionFast: 0.2s;
$transitionMedium: 0.4s;
$transitionSlow: 0.8s;

$sideBarWidth: 260px;
$topNavHeight: 70px;